<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Notes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>C</string>
			<key>Frequency</key>
			<real>1</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>C#</string>
			<key>Frequency</key>
			<real>1.059463</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>D</string>
			<key>Frequency</key>
			<real>1.122462</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>D#</string>
			<key>Frequency</key>
			<real>1.189207</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>E</string>
			<key>Frequency</key>
			<real>1.259921</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>F</string>
			<key>Frequency</key>
			<real>1.334840</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>F#</string>
			<key>Frequency</key>
			<real>1.414214</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>G</string>
			<key>Frequency</key>
			<real>1.498307</real>
		</dict>
        <dict>
			<key>Name</key>
			<string>G#</string>
			<key>Frequency</key>
			<real>1.587401</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>A</string>
			<key>Frequency</key>
			<real>1.681793</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>A#</string>
			<key>Frequency</key>
			<real>1.781797</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>B</string>
			<key>Frequency</key>
			<real>1.887749</real>
		</dict>
	</array>
</dict>
</plist>
